.game-list .g-gameCard-item {
    width: 169px!important;
}

ul {
    list-style: none;
}

.g-gameCard-item {
    float: left;
    margin: 0 30px 40px 0;
    width: 152px;
    height: 172px;
    background: #fff;
    border-radius: 6px;
}

.g-gameCard-link {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 17px;
    box-sizing: border-box;
}

.g-gameCard-img {
    display: block;
    margin: 0 auto;
    width: 110px;
    height: 110px;
}
.g-gameCard-fullName {
    margin: 1px auto 0;
    max-width: 8em;
    text-align: center;
    color: #333;
    font-size: 15px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.g-gameCard-fullName:hover{
    color: #faa050;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

a {
    text-decoration: none;
}
